
.centerHorizontally{
    text-align: center;
}

.BlueBox {
    margin-bottom: 1em;
    background-color: rgba(6, 56, 82);
}
.paddedRow{
    align-content: center;
}

.padding{
    margin-bottom: 1em;
}

.yellowBackground{
    background-color: rgba(255, 214, 143);
}
.blueBackground {
    margin-bottom: 1em;
    background-color: rgba(6, 56, 82);
    color: black;
}
.blueButton {
    color: white;
    background-color: rgba(6, 56, 82);
    margin-bottom: 1em;
}

.blueButton:hover{
    background-color: rgba(1, 26, 39);
}

.yellowButton{
    /*border: thin solid rgba(240, 129, 15);*/
    color: black;
    background-color: rgba(230,223,68);
    margin-bottom: 1em;
}

.yellowButton:hover{
    background: rgba(255,186,67);
}

.labelForSearch{
    color: white;
    background-color: rgba(6, 56, 82);
    padding-left: 1em;
    padding-right:1em;
}

.columnRightAlign{
    align-content: end;
    align-items: flex-end;
}

.autoWidthGrid{
    width: auto;
}

.rightAlignDiv{
    margin-left: auto;
    margin-right: 0;
}
.whiteText{
    color: white;
    font-size: 1.5em;
}


