.btn {
    background-color: rgba(255, 214, 143);
}
.centerHorizontally{
    text-align: center;

}
.BlueBox {
    margin-bottom: 1em;
    background-color: rgba(143, 184, 255, 0.5);
}
.paddedRow{
    align-content: center;
}

.padding{
    margin-bottom: 1em;
}