
@import '~rsuite/styles/index.less'; //The default style file.


@lightest: rgba(246, 196, 135, 1);
@light: rgba(255, 97, 80, 1);
@medium: rgba(7, 36, 72);
@light_hover: rgba(255, 74, 55, 1);
@dark_hover: rgba(9, 48, 95, 1);
//@dark: rgba();
//@darkest:rgba();
@black: black;
@white: white;
@card_color: @medium;
@secondary_card_color: @lightest;
@display_box: @lightest;
@display_box_button: @medium;
@display_box_button_hover: @dark_hover;
@card_button: @light;
@card_button_hover: @light_hover;
@card_text: @white;
@button_text: @medium;
@header_text: @black


.centerContainer{
  display: flex;
  align-items: center;
}

.centerHorizontally{
  text-align: center;
}

.paddedRow{
  align-content: center;
}

.padding{
  margin-bottom: 1em;
}

.cardBackground {
  margin-bottom: 1em;
  background-color: @card_color;
  color: @card_text;
}
.modalBackground {
  margin-bottom: 1em;
  background-color: @card_color;
  color: @card_text;
}
.panelBackground {
  background-color: @display_box;
}
.cardButton {
  color: @medium;
  background-color: @light;
  margin-bottom: 1em;

  &:hover{
    background-color: @card_button_hover;
  }}
.modalButton {
  color: @medium;
  background-color: @light;
  margin-bottom: 1em;

  &:hover{
    background-color: @card_button_hover;
  }}

.displayBoxButton{
  /*border: thin solid rgba(240, 129, 15);*/
  color: white;
  background-color: @display_box_button;
  margin-bottom: 1em;

  &:hover{
    background: @display_box_button_hover;
  }}


.columnRightAlign{
  align-content: end;
  align-items: flex-end;
}

.autoWidthGrid{
  width: auto;
}

.rightAlignDiv{
  margin-left: auto;
  margin-right: 0;
}
